.choice-list {
  padding: rem(20);
  margin-top: rem(20);
  margin-bottom: rem(40);
  counter-reset: steps;

  // @media (min-width: 1025px) 
  @include large-screen {
    padding: rem(30) rem(160);
    margin: rem(30) 0;
  }

  &__title {
    padding: rem(10);
    margin: rem(15) 0;
  }

  &__ul {
    list-style-type: none;
    padding-left: rem(18);
    margin: 0;

    // @media (min-width: 1025px) 
    @include large-screen {
      @include flex-row;
      gap: rem(43) rem(100);

    }
  }

  &__li {
    position: relative;
    background-color: $background-color;
    border-radius: rem(map-get($radius, menu));
    padding: rem(20) rem(25);
    margin-bottom: rem(30);

    font-size: $f4-font-size;
    font-weight: $medium-font-weight;
    @include box-shadow-menu;
    @include flex-row;

    // @media (min-width: 1025px) {
    @include large-screen {
      flex-grow: 1;
      //justify-content: space-around;
    }

    &:last-child>i {
      color: $color-primary;
    }

    &::before {
      counter-increment: steps;
      content: " " counter(steps);
      color: $background-color;
      font-weight: $medium-font-weight;
      background-color: $color-primary;
      padding: rem(6);
      @include dimension(16, 16);
      border-radius: 50%;
      @include flex-center;
      margin-left: rem(-40);
    }
  }

  &__icon {
    margin-right: rem(10);
    color: $grey-1;
    font-size: $f2-font-size;
    margin-left: rem(12);
  }
}