.explorer {
  background-color: $background-color;
  padding: rem(40) 0;
  text-align: center;

  &__title {
    font-size: $f1-font-size;
    font-weight: $bold-font-weight;
    margin: 0 rem(58) 0 rem(42);
  }

  &__content {
    font-size: $f2-font-size;
    font-weight: $light-font-weight;
    color: $grey;
    margin: 0 rem(26) rem(27) rem(34);
  }

  &__btn {
    @include dimension(218, 50);
    padding: rem(13) rem(18.75);
    @extend .btn;

    &:hover {
      @extend .btn-hover;
      @include box-shadow-btn-animation;
    }
  }
}