.footer {
  @include large-screen {
    padding: rem(30) rem(25);
  }

  padding: rem(22) rem(25);
  background: $grey;

  &__title {
    color: $white;
    font-size: $f2-font-size;
    font-weight: $regular-font-weight;
    font-family: $header-footer-font-family;
    margin: 0 0 rem(16);
    padding-right: 0;

    @include large-screen {
      @include flex-end;
      margin-bottom: rem(-46);
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;

    @include large-screen {
      @include flex-end;
      gap: rem(18);
      margin-right: rem(150);
    }
  }

  &__list-li {
    margin-top: rem(7);
  }

  &__list--link {
    color: $white;
    font-size: $f4-font-size;
    font-weight: $medium-font-weight;

    .icon-footer {
      padding-right: rem(11);
    }
  }
}