.loader {
  background: $grey-2;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  @include flex-center;
  animation: loader_fade_out 1s ease-in-out 2s forwards;

  &__img {
    position: absolute;
    transform-origin: center;
    @include dimension(150, 150);
  }

  &__circle {
    position: relative;
    @include dimension(250, 250);
    border-radius: 50%;
    border: rem(7) solid transparent;
    border-top-color: $color-primary;
    animation: spin 1.5s linear infinite;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: rem(7) solid transparent;
    }

    &::before {
      inset: rem(10);
      border-top-color: $color-tertiary;
      animation: spin 2s linear infinite;

    }

    &::after {
      inset: rem(25);
      border-top-color: $color-secondary;
      animation: spin 1s linear infinite;


    }
  }
}