.location {
    background-color: $grey-2;
    height: rem(50);
    @include flex-center;
    gap: rem(5);

    &__icon {
        @include dimension(12, 16);
    }

    &__input {
        text-align: center;
        font-size: $f4-font-size;
        font-weight: $bold-font-weight;
        border: none;
        background-color: $grey-2;
        @include dimension(150, 49);
        color: $grey;
    }
}