
.restaurants{
    background-color: $background-color;
   /* display: flex;
    flex-direction: column;*/
    padding:rem(27) 0; 

    &__title{
        padding: rem(20) 0 0 rem(30);
    }

    .card{
        border-radius: rem(map-get($radius,card));
        @include box-shadow-menu ;
         position: relative;
        background:$white; 
        margin: rem(20);
        padding-bottom: 5px;

        &__btn{
            
            color:$green;
            background: $color-tertiary;
            border: rem(5) solid $color-tertiary;
            border-radius: rem(map-get($radius,btn-new));
            position: absolute;
            right:rem(20);
            top: rem(20);
            font-size: $f5-font-size;
            font-weight: $medium-font-weight;
            width: rem(80);
            height: rem(29); 
            text-align: center;
            @include box-shadow-badge;
            
        }       
            
        &__img {
            object-fit: cover;
            border-top-left-radius: rem(15);
            border-top-right-radius: rem(15);
            width: 100%;
            max-height: 220px;
            background-repeat: no-repeat;
            // margin:10px;
        }  
        
       &__container {
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }  
        
        &__title {
            font-size:$f2-font-size ;
            font-weight:$bold-font-weight;
            margin:rem(10) 0 rem(5) rem(13);
        }
    
        &__subtitle{
            font-size: $f3-font-size;
            font-weight: $light-font-weight; 
            margin-left: rem(13);
            margin-top: 0;
        }
    
         
        &__heart {

            position : relative;

            .card__heart-empty {
                visibility: visible;
                @include position-absolute-heart;
                @include dimension(23,23);
            }
                
            .card__heart-full {
                visibility: hidden;
                opacity: 0;
                @include position-absolute-heart;
            }

            #activate1-div 
            {
                display: none;
                @include position-absolute-heart;
              
            }
        
            #activate1-div:checked ~ label 
            {
                .card__heart-empty {
                    visibility: hidden;
                    cursor: pointer;
                    @include position-absolute-heart;
                   
                }

                 .card__heart-full{            
                    visibility: visible;
                    opacity: 1;
                    cursor: pointer;
                    @include position-absolute-heart;
            }
        
            }


            #activate2-div 
            {
                display: none;
                @include position-absolute-heart;
              
            }
        
            #activate2-div:checked ~ label 
            {
                .card__heart-empty {
                    visibility: hidden;
                    cursor: pointer;
                    @include position-absolute-heart;
                   
                }

                 .card__heart-full{            
                    visibility: visible;
                    opacity: 1;
                    cursor: pointer;
                    @include position-absolute-heart;
            }
        
            }

            
            #activate3-div 
            {
                display: none;
                @include position-absolute-heart;
              
            }
        
            #activate3-div:checked ~ label 
            {
                .card__heart-empty {
                    visibility: hidden;
                    cursor: pointer;
                    @include position-absolute-heart;
                   
                }

                 .card__heart-full{            
                    visibility: visible;
                    opacity: 1;
                    cursor: pointer;
                    @include position-absolute-heart;
            }
        
            }

            #activate4-div 
            {
                display: none;
                @include position-absolute-heart;
              
            }
        
            #activate4-div:checked ~ label 
            {
                .card__heart-empty {
                    visibility: hidden;
                    cursor: pointer;
                    @include position-absolute-heart;
                   
                }

                 .card__heart-full{            
                    visibility: visible;
                    opacity: 1;
                    cursor: pointer;
                    @include position-absolute-heart;
            }
        
            }

        }
  
    }  
    
    
}



       
        
    
    


