.restaurants {
  background-color: $background-color;
  padding: rem(27) 0;
  @media (min-width: 1025px) {
    /* display: flex;    
    justify-content: center;
    flex-direction: column;*/
    padding: 0 rem(180);
  }
  &__title {
    padding: rem(20) 0 0 rem(30);
    @media (min-width: 1025px) {
      margin-bottom: rem(28);
    }
  }

  &__cards {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(70);
      row-gap: rem(35);
      /*display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                column-gap:70px;
                row-gap: 35px;*/
    }

    .card {
      border-radius: rem(map-get($radius, card));
      @include box-shadow-menu;
      position: relative;
      background: $white;
      margin: rem(20);
      padding-bottom: rem(5);
      /* @media (min-width:1025px) {
            width: 40%;
            }*/
      &__btn {
        color: $green;
        background: $color-tertiary;
        border: rem(5) solid $color-tertiary;
        border-radius: rem(map-get($radius, btn-new));
        position: absolute;
        right: rem(20);
        top: rem(20);
        font-size: $f6-font-size;
        font-weight: $medium-font-weight;
        width: rem(80);
        height: rem(29);
        text-align: center;
        @include box-shadow-badge;
      }

      &__img {
        object-fit: cover;
        border-top-left-radius: rem(15);
        border-top-right-radius: rem(15);
        width: 100%;
        max-height: rem(220);
        background-repeat: no-repeat;
        @media (min-width: 1025px) {
          height: rem(251);
        }
      }
      /*
           &__container {
                display: flex;
                 justify-content: space-between;
                align-items: center; 
            }  
            */
      &__title {
        font-size: $f2-font-size;
        font-weight: $bold-font-weight;
        margin: rem(10) 0 rem(5) rem(13);
      }

      &__subtitle {
        font-size: $f3-font-size;
        font-weight: $light-font-weight;
        margin-left: rem(13);
        margin-top: 0;
      }

      &__heart {
        position: relative;
        @include heart;

        #activate1-div {
          display: none;
          @include position-absolute-heart;
        }

        #activate1-div:checked ~ label {
          .card__heart-full {
            opacity: 1;
            cursor: pointer;
            background-clip: text;
            color: transparent;
            -webkit-background-clip: text;
            background-image: $button-gradient;
            @include position-absolute-heart;
          }
        }

        #activate2-div {
          display: none;
          @include position-absolute-heart;
        }

        #activate2-div:checked ~ label {
          .card__heart-full {
            opacity: 1;
            cursor: pointer;
            color: transparent;
            background-image: $button-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            @include position-absolute-heart;
            transition: 5s;
          }
        }

        #activate3-div {
          display: none;
          @include position-absolute-heart;
        }

        #activate3-div:checked ~ label {
          .card__heart-full {
            opacity: 1;
            cursor: pointer;
            color: transparent;
            background-image: $button-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            @include position-absolute-heart;
          }
        }

        #activate4-div {
          display: none;
          @include position-absolute-heart;
        }

        #activate4-div:checked ~ label {
          .card__heart-full {
            opacity: 1;
            cursor: pointer;
            color: transparent;
            background-image: $button-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            @include position-absolute-heart;
          }
        }

        @media (min-width: 1025px) {
          &:hover {
            .card__heart-full {
              //visibility: visible;
              @include position-absolute-heart;
              color: transparent;
              background-image: $button-gradient;
              background-clip: text;
              -webkit-background-clip: text;
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
