@use "sass:math" as math;

// functions 
@function rem ($size,$base:16)
{
    @return  math.div(1rem * $size, $base);
}




// variables 
//colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #FFF; 
$grey-2: #EAEAEA;
$grey: #353535;
$base-color: #000000;
$background-color: #F6F6F6;
// $border-dark: rgba($base-color, 0.15);
$border-box-shadow-header: rgba($base-color,0.15);
$border-box-shadow-btn: rgba($base-color,0.25);
//background-color
$background-color-location: $grey-2;
//font-family
$heading-font-family: 'Shrikhand', cursive;
$body-font-family: 'Roboto', sans-serif;
//font-size
$f1-font-size: rem(24);
$f2-font-size: rem(18);
$f3-font-size: rem(17);
$f4-font-size: rem(16);

//font-weight
$light-font-weight:300;
$regular-font-weight:400;
$medium-font-weight:500;
$bold-font-weight:700;

//mixins
@mixin border-radius($size){
    border-radius: $size;
}

@mixin box-shadow($shadow1,$shadow2,$shadow3,$shadow4,$border-box-shadow-header){
    box-shadow: $shadow1 $shadow2 $shadow3 $shadow4 $border-box-shadow-header;
}

/***********/
* { 
    box-sizing: border-box;
}

html, body{
    margin:0;
    font-family: $body-font-family;
}

.header{
    // box-shadow: 0px 2px 4px 0px $border-box-shadow;
    @include box-shadow(0px,2px,4px,0px,$border-box-shadow-header);
    padding:rem(14) rem(89) rem(13) rem(89);
    margin:0;
    position: relative;
  
    &__logo{
        font-family:$heading-font-family; 
        text-align: center;
    }

}

%background-color-location{
    background-color: $grey-2;
}

.location{
     @extend %background-color-location;
    // background-color:$background-color-location;
    height: rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:rem(5);

    &__icon{
        width: rem(12);
        height: rem(16); 
    }

    &__input{
        text-align: center;
        font-size:$f4-font-size ;
        font-weight:$bold-font-weight;
        border: none;
        @extend %background-color-location;
        width:rem(150);
        height:rem(49);
        color:$grey ; 
        
    }

}

.explorer{
  
    background-color:$background-color; 
    padding:rem(40) 0;
    text-align: center;
    &__title{
        font-size:$f1-font-size;
        font-weight:$bold-font-weight; 
        margin: 0 rem(58) 0 rem(42);
    }
    &__content{
        font-size: $f2-font-size;
        font-weight:$light-font-weight; 
        color: $grey; 
        margin: 0 rem(26) rem(27) rem(34);
    }

    &__btn{
        width: rem(218);
        height: rem(50); 
        @include border-radius(rem(25));
        background-image: linear-gradient(to top, $color-primary 0%, $color-secondary 100%);
        @include box-shadow(0px,4px,10px,0px,$border-box-shadow-btn);
        color: $white;
        border: none;
        font-size: $f4-font-size;
        font-weight:$medium-font-weight;
        padding: rem(13) rem(18.75);
        
        &:hover {
            background-color: lighten(#9356dc, 10%);
            background-blend-mode: lighten;
            opacity: 1;
            cursor: pointer;
            color: $white;
          }
        
    }

    
 
}