//font-family
$body-font-family: "Roboto", sans-serif;
$header-footer-font-family: "Shrikhand", cursive;

//font-weight
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;


//font-size
$f1-font-size: rem(24);
$f2-font-size: rem(18);
$f3-font-size: rem(17);
$f4-font-size: rem(16);
$f5-font-size: rem(15);
$f6-font-size: rem(14);
$f1-menupage: rem(28);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $body-font-family;
}

h2 {
  font-size: $f1-font-size;
  font-weight: $bold-font-weight;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: $header-footer-font-family;
}

.main-container {
  width: 100%;
  max-width: rem(1440);
  min-width: rem(320);
}

.page-index {
  @include large-screen {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}