* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
}

@media (min-width: 1025px) {
  .page-index {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@keyframes right-left-rotation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes progressive-display-menu-mobile {
  from {
    transform: scaleY(0.5) translateX(50%);
    opacity: 0;
  }
  to {
    transform: scaleY(1) translateX(0%);
    opacity: 1;
  }
}
@keyframes progressive-display-menuItem-desktop {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.btn, .menu__order .btn, .menu__order .explorer__btn, .explorer__btn {
  border-radius: 1.5625rem;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 200ms;
}

.btn-hover, .menu__order .btn:hover, .menu__order .explorer__btn:hover, .explorer__btn:hover {
  cursor: pointer;
  background-color: #ae80e5, #fface8;
  transform: scale(1.01);
  opacity: 0.85;
}

.header {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
  margin: 0;
  position: relative;
}
.header__logo {
  text-align: center;
}

.location {
  background-color: #eaeaea;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.location__icon {
  width: 0.75rem;
  height: 1rem;
}
.location__input {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background-color: #eaeaea;
  width: 9.375rem;
  height: 3.0625rem;
  color: #353535;
}

.explorer {
  background-color: #f6f6f6;
  padding: 2.5rem 0;
  text-align: center;
}
.explorer__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 3.625rem 0 2.625rem;
}
.explorer__content {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin: 0 1.625rem 1.6875rem 2.125rem;
}
.explorer__btn {
  width: 13.625rem;
  height: 3.125rem;
  padding: 0.8125rem 1.171875rem;
}
.explorer__btn:hover {
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.35);
}

.choice-list {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  counter-reset: steps;
}
@media (min-width: 1025px) {
  .choice-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5625rem;
    padding: 3.125rem 11.25rem;
    margin: 1.875rem 0;
  }
}
.choice-list__title {
  padding: 0.625rem;
  margin: 0.9375rem 0;
}
@media (min-width: 1025px) {
  .choice-list__title {
    margin: 0;
    padding-left: 3.4375rem;
  }
}
.choice-list__ul {
  list-style-type: none;
  padding-left: 1.125rem;
  margin: 0;
}
@media (min-width: 1025px) {
  .choice-list__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
    align-items: center;
  }
}
.choice-list__li {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 1.25rem;
  padding: 1.25rem 1.5625rem;
  margin-bottom: 1.875rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 1025px) {
  .choice-list__li {
    padding: 1.25rem 2.1875rem;
    width: 18.5625rem;
  }
}
.choice-list__li:last-child > i {
  color: #9356dc;
}
.choice-list__li::before {
  counter-increment: steps;
  content: " " counter(steps);
  color: #f6f6f6;
  font-weight: 500;
  background-color: #9356dc;
  padding: 0.375rem;
  width: 1rem;
  height: 1rem;
  border-radius: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2.5rem;
  /* position: absolute;
    bottom: 1.5rem;
    left: -1rem;*/
}
@media (min-width: 1025px) {
  .choice-list__li::before {
    margin-left: -3.125rem;
  }
}
.choice-list__icon {
  margin-right: 0.4375rem;
  color: #7e7e7e;
  font-size: 1.125rem;
  margin-left: 0.625rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 1.6875rem 0;
}
@media (min-width: 1025px) {
  .restaurants {
    /* display: flex;    
    justify-content: center;
    flex-direction: column;*/
    padding: 0 11.25rem;
  }
}
.restaurants__title {
  padding: 1.25rem 0 0 1.875rem;
}
@media (min-width: 1025px) {
  .restaurants__title {
    margin-bottom: 1.75rem;
  }
}
@media (min-width: 1025px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.375rem;
    row-gap: 2.1875rem;
    /*display: flex;
              justify-content: space-between;
              flex-flow: row wrap;
              column-gap:70px;
              row-gap: 35px;*/
  }
}
.restaurants__cards .card {
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  background: #fff;
  margin: 1.25rem;
  padding-bottom: 0.3125rem;
  /* @media (min-width:1025px) {
        width: 40%;
        }*/
  /*
       &__container {
            display: flex;
             justify-content: space-between;
            align-items: center; 
        }  
        */
}
.restaurants__cards .card__btn {
  color: #008766;
  background: #99e2d0;
  border: 0.3125rem solid #99e2d0;
  border-radius: 0.1875rem;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  width: 5rem;
  height: 1.8125rem;
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
}
.restaurants__cards .card__img {
  object-fit: cover;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  width: 100%;
  max-height: 13.75rem;
  background-repeat: no-repeat;
}
@media (min-width: 1025px) {
  .restaurants__cards .card__img {
    height: 15.6875rem;
  }
}
.restaurants__cards .card__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0.625rem 0 0.3125rem 0.8125rem;
}
.restaurants__cards .card__subtitle {
  font-size: 1.0625rem;
  font-weight: 300;
  margin-left: 0.8125rem;
  margin-top: 0;
}
.restaurants__cards .card__heart {
  position: relative;
}
.restaurants__cards .card__heart .card__heart-empty {
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
  width: 1.4375rem;
  height: 1.4375rem;
}
.restaurants__cards .card__heart .card__heart-full {
  opacity: 0;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
  transition-property: all;
  transition-duration: 7s;
}
.restaurants__cards .card__heart #activate1-div {
  display: none;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate1-div:checked ~ label .card__heart-full {
  opacity: 1;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate2-div {
  display: none;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate2-div:checked ~ label .card__heart-full {
  opacity: 1;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate3-div {
  display: none;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate3-div:checked ~ label .card__heart-full {
  opacity: 1;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate4-div {
  display: none;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate4-div:checked ~ label .card__heart-full {
  opacity: 1;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate5-div {
  display: none;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.restaurants__cards .card__heart #activate5-div:checked ~ label .card__heart-full {
  opacity: 1;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
@media (min-width: 1025px) {
  .restaurants__cards .card__heart:hover .card__heart-full {
    position: absolute;
    right: 1.5625rem;
    top: -3.4375rem;
    opacity: 1;
    cursor: pointer;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  }
}

.footer {
  padding: 1.375rem 1.5625rem;
  background: #353535;
}
@media (min-width: 1025px) {
  .footer {
    padding: 30px 25px;
  }
}
.footer__title {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  margin: 0 0 1rem;
  padding-right: 0;
}
@media (min-width: 1025px) {
  .footer__title {
    display: flex;
    margin-bottom: -46px;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
@media (min-width: 1025px) {
  .footer__list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 18px;
    margin-right: 150px;
  }
}
.footer__list-li {
  margin-top: 0.4375rem;
}
.footer__list--link {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.footer__list--link .icon-footer {
  padding-right: 0.6875rem;
}

.header__arrow {
  position: absolute;
  left: 2.375rem;
  width: 1.875rem;
  height: 1.875rem;
  top: 50%;
  /*  display:flex;
      align-items:center;
      justify-content:center;*/
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.banner {
  width: 100%;
  object-fit: cover;
  height: 17.1875rem;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  width: 100%;
  position: relative;
  margin-top: -3.125rem;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.0625rem 0 1.0625rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 400;
}
.menu__title .heart {
  position: relative;
  top: 2.8125rem;
  right: -0.75rem;
}
.menu__title .heart .card__heart-empty {
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
  width: 1.4375rem;
  height: 1.4375rem;
}
.menu__title .heart .card__heart-full {
  opacity: 0;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
  transition-property: all;
  transition-duration: 7s;
}
.menu__title .heart #activate-div {
  display: none;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
.menu__title .heart #activate-div:checked ~ label .card__heart-full {
  opacity: 1;
  cursor: pointer;
  color: transparent;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  right: 1.5625rem;
  top: -3.4375rem;
}
@media (min-width: 1025px) {
  .menu__title .heart:hover .card__heart-full {
    position: absolute;
    right: 1.5625rem;
    top: -3.4375rem;
    opacity: 1;
    cursor: pointer;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  }
}
@media (min-width: 1025px) {
  .menu__title {
    justify-content: center;
    gap: 60px;
  }
}
.menu__card .submenu {
  margin-top: 2.5rem;
  padding: 0 0.625rem;
  animation: progressive-display-menu-mobile 3s ease-in-out;
  animation-fill-mode: backwards;
}
.menu__card .submenu:nth-child(1) {
  animation-delay: 500ms;
}
.menu__card .submenu:nth-child(2) {
  animation-delay: 1000ms;
}
.menu__card .submenu:nth-child(3) {
  animation-delay: 1500ms;
}
.menu__card .submenu:nth-child(4) {
  animation-delay: 2000ms;
}
.menu__card .submenu__title h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 0.75rem 0;
}
.menu__card .submenu__title .line {
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #99e2d0;
}
.menu__card .submenu__item .menu-bar {
  background-color: #fff;
  border-radius: 0.9375rem;
  padding: 0;
  margin: 0.75rem;
  box-shadow: 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
  /*   @media (min-width: 1025px) {
    animation: progressive-display-menuItem-desktop 1s;
    animation-fill-mode: both;
  }*/
}
.menu__card .submenu__item .hidden {
  position: absolute;
  left: 30px;
}
.menu__card .submenu__item #ck1:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck1:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck1:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck2:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck2:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck2:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck3:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck3:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck3:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck4:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck4:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck4:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck5:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck5:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck5:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck6:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck6:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck6:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck7:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck7:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck7:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck8:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck8:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck8:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
.menu__card .submenu__item #ck9:checked ~ label {
  cursor: pointer;
}
.menu__card .submenu__item #ck9:checked ~ label .submenu__check {
  margin-right: 0px;
}
.menu__card .submenu__item #ck9:checked ~ label .icon-check {
  animation: right-left-rotation 0.5s ease-in-out;
}
@media (min-width: 1025px) {
  .menu__card .submenu__item:hover .submenu__check {
    margin-right: 0px;
  }
  .menu__card .submenu__item:hover .icon-check {
    animation: right-left-rotation 0.5s ease-in-out;
  }
}
.menu__card .submenu__description {
  overflow: hidden;
  padding: 0.625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card .submenu__description .title,
.menu__card .submenu__description .ingredients {
  margin: 0;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}
.menu__card .submenu__description .title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 0.3125rem;
}
.menu__card .submenu__description .ingredients {
  font-size: 0.9375rem;
  font-weight: 300;
}
.menu__card .submenu__price {
  font-size: 0.9375rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 0.3125rem 1.25rem 0.625rem 1.25rem;
}
.menu__card .submenu__check {
  background-color: #99e2d0;
  width: 3.125rem;
  margin-right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__card .submenu__check .icon-check {
  color: #fff;
}
.menu__order {
  text-align: center;
}
.menu__order .btn, .menu__order .explorer__btn {
  width: 11.625rem;
  height: 3.125rem;
  padding: 1rem 3rem;
  margin: 2.5rem 0;
}
.menu__order .btn:hover, .menu__order .explorer__btn:hover {
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.35);
}
@media (min-width: 1025px) {
  .menu {
    width: 70%;
    margin: auto;
    margin-top: -3.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
