


.header{
    
    &__arrow {
        position: absolute;
        left: rem(38);
        @include dimension(30,30);
        top: 50%;
      /*  display:flex;
        align-items:center;
        justify-content:center;*/
        transform: translateY(-50%);
        font-size:1.5rem;
      }
}

.banner{
    width: 100%;
    object-fit: cover;
    height: 275px; 
   

}

.menu
{
    background-color:#F6F6F6 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   /* width: 100%;*/
    position: relative;
    margin-top: -50px;

&__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        //padding: 10px;
        padding:32px 17px 0px 17px;
       // margin-bottom:40px;
        font-family:$header-footer-font-family;
        font-size: $f1-menupage;
        font-weight:$regular-font-weight;
        //padding-left: 7px;
    
        

        .heart{
           
         position :relative;
         top: 45px;
         right: -12px;
            @include heart;
            #activate1-div 
            {
                display: none;
                @include position-absolute-heart;
            }
        
            #activate1-div:checked ~ label 
            {
                 .card__heart-full{            
                    opacity: 1;
                    cursor: pointer;
                    color: transparent;
                    background-image:$button-gradient;
                    background-clip: text;
                    -webkit-background-clip:text;
                    @include position-absolute-heart;
                
                }
        
            }
        
        
        }
}

&__card{
    .submenu{
        margin-top:rem(40);
        padding: 0 rem(10);
        &__title{
            h3{
                font-size:$f4-font-size;
                font-weight:$light-font-weight;
                text-transform: uppercase; 
                margin:0 0 rem(12) 0;
            }

            .line{
                width: 40px;
                height: 3px;
                background-color:$color-tertiary; 
                
            }
        }
        &__item{
            background-color: white;
            border-radius: rem(map-get($radius,card));
            padding: rem(15);
            margin: rem(12);
            @include box-shadow-menu;
            cursor: pointer;
           /* display: flex;
            align-items: flex-end;
            gap: 5px;
           flex: 1 0 0; */

        }

    }
}

}




   

       
 




