@keyframes right-left-rotation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progressive-display-menu-mobile {
  from {
    transform: scaleY(0.5) translateX(50%);
    opacity: 0;
  }
  to {
    transform: scaleY(1) translateX(0%);
    opacity: 1;
  }
}

@keyframes progressive-display-menuItem-desktop {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
