@use "sass:math" as math;
//colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$white: #fff;
$grey: #353535;
$grey-1: #7e7e7e;
$grey-2: #eaeaea;
$base-color: #000000;
$green: #008766;
$red: red;

//background-color
$background-color: #f6f6f6;
$background-color-location: $grey-2;

//border-box-shadow
$border-box-shadow-badge: rgba($base-color, 0.15);
$border-box-shadow-btn: rgba($base-color, 0.25);
$border-box-shadow-menu: rgba($base-color, 0.1);
$border-box-shadow-btn-anim: rgba($base-color, 0.35);

//background-image
$button-gradient: linear-gradient(193deg, $color-primary -11.44%, $color-secondary 123.93%);

//border-radius
$radius: (
  menu: 20,
  btn: 25,
  card: 15,
  btn-new: 3,
  steps-menu: 50,
);

//animation
$nb-ck-heart: 4;
$nb-ck-menu: 10;
$nbr-submenu: 3;
$anim-dur: 2000ms;
$anim-delay: math.div(1 * $anim-dur, $nbr-submenu);